@charset "UTF-8";

#fairytale {
       padding-left: 50px;
       padding-top: 30px;
}

#fairytale button {
      margin-top: 10px;
      margin-left: 13px;
      width: 100px;
}

.nav2 .collapse{
	margin: 50px 0px;
}

.nav2 .navbar {
	border:1px solid white;
}

.nav2 .navbar li a:hover {
	background-color: white;
	color: black;
}

.nav2 .navbar li {
	margin-left: 60px;
}

.nav2 .navbar-default .navbar-nav>.active>a {
	background-color: white;
}

hr {
	margin: 100px 0px;	
}

/*별점*/
.star_rating {
      font-size:0; 
      letter-spacing:-4px;
      margin-top: 20px;
}

.star_rating a {
      font-size:22px;
      letter-spacing:0;
      display:inline-block;
      margin-left:5px;
      color:#ccc;
      text-decoration:none;
}

.star_rating a:first-child {margin-left:0;}

.star_rating a.on {color:#777;}

/*뷰*/
#preview .box {
	width: 1000px;
	height: 500px;
	border:1px solid #ececec;
}

/*리뷰*/

#review .text p{
	width: 400px;
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
}


#review h4{
	margin-bottom: 20px;
}

#review .row{
      margin-top: 20px;
}

#review a {
      color: black;
      text-decoration: none;
}

/*리뷰 페이지네이션*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
      background-color: #ffa900;
      border-color: #ffa900;
}

/*작가의 다른책*/
#book1 div h4{
      margin-bottom:50px; 
      color: black;
}

#book1 div a:hover {
      text-decoration:none;
}

/*관련된 책*/
#book2 div h4 {
      margin-bottom: 50px;
      color: black;
}

#book2 div a:hover {
      text-decoration: none;
}
