@charset "UTF-8";

/*헤더*/
#header {
	padding: 40px 15px;
}

#header .navbar-brand {
	color: #ffa900;
	font-weight:bold;
}

.navbar-brand {
	font-size: 25px;
}

.login {
    padding-left:50px;
}
        
.login .btn {
	margin-top: 8px;
	background-color: #ffa900;
	border: 1px solid orange;
	color: white;
}

.user .btn {
	width: 50px;
	margin-top: 5px;
}

.btn-user .glyphicon {
	font-size: 20px;
	color: #ffa900;
}

.dropdown-menu .glyphicon {
	margin-right: 20px;
	color: #ffa900;
}

/*네비*/
.navtop {
	padding-left: 45px;
	padding-bottom: 20px;
}

.navtop a {
	color: #808080;
	text-decoration: none;
}

.navtop a:hover {
	color: #ffa900;
}

.navtop .glyphicon {
	color: #ffa900;
	margin-right: 10px;
	font-size: 15px;
}

.two a {
	margin-left: 40px;
}

/*네비바*/
.nav li {
	margin-right: 65px;
}

.nav li:hover {
	background-color: #ffa900;
}

.navbar-default {
	background-color: white;
	font-size: 15px;
}

.navbar-default .navbar-nav li a:hover {
	color: white;
}

/*도서검색*/
.input-group {
    padding-left:40px;
}
        
.input-group-btn .glyphicon {
    color: #ffa900;
    font-size:20px;
}

.input-group-btn button:hover {
    background-color: white;
}

/*베스트 셀러 e8cb99  f1c0a7 #f6b07a*/
#bestbook {
	padding: 40px 0px;
}

#bestbook h4 {
	margin-left: 30px;
}

/*오늘의 신간*/
#newbook {
	padding: 40px 0px;
}

#newbook h4 {
	margin-left: 30px;
}

/*owl*/
#bookimg {
	padding-top: 20px;
}

.owl-prev {
	left: -50px;
}

.owl-next {
	right: -50px;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 25%;
}

.owl-prev span, .owl-next span {
	font-size: 70px;
	color: #e6e6e6;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background-color: transparent;
}

#bestbook .card-body h5 {
	text-align: center;
	/* color: white; */
}

.card img {
	width: auto;
	height: auto;
	max-width: 450px;
	max-height: 220px;
}

/*owl2*/
#newbook .card-body h5 {
	text-align: center;
	/* color: black; */
}

/* 회원가입 */
h3 a {
	color: #ffa900;
}

h3 a:hover {
	color: #ffa900;
	text-decoration: none;
}

.signupform {
	padding: 80px 400px;
}

/*모달*/
#loginModal {
	padding-top: 150px;
}

.modal-header h4 {
	color: #ffa900;
}

.modal-body {
	padding: 40px 150px;
}

.modal-body .btngroup {
	padding-top: 30px;
}

.modal-body a {
	text-decoration: none;
	color: #525252;
}