@charset "UTF-8";



/*왼 네비*/
#nav-left {
	padding: 170px 50px;
}

#nav-left ul li a {
	color: black;
	background-color: white;
	border: 1px solid lightgray;
}

#nav-left ul li a:hover {
	background-color: #f3f3f3;
}

#right-all {
	padding: 100px 200px;
}

#right-work {
	padding-left: 100px;
}

/*작업실*/
#work h4 button {
	margin-left: 70px;
}

.end {
	padding-top: 20px;
}

/*모달*/
#studioModal {
	padding-top: 200px;
}

#studioModal .modal-footer span {
	margin-right: 20px;
	margin-bottom: 20px;
}

#studioModal .modal-footer a {
	text-decoration: none;
}

#studioModal .modal-body {
	padding: 30px;
}

#studioModal .nav li {
	background-color: white;
}

/*작업실 생성*/

        .workplace {
            padding-top: 20px;
        }

        .workplace div {
             width: 250px;
             text-align: center;
             display: inline-block;
        }

        .workplace div a {
            position: relative;
        }


        .workplace div .thu img {
            width: 35px;
            display: inline-block;
            margin: 10px;
        }


        .workplace div a p {
            font-size: 18px;
            color: #393939;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            top: 0%;
            margin: 0px 25px;
            padding-top:5px;
            background-color: rgba(255, 255, 255, 0.59);
            width: 200px;
            height: 35px;
            text-align: center;
        }

        .workplace div a p:hover{
           /*opacity: 0.5;*/
           background-color: rgba(255, 255, 255, 0.77);
        }

        .workplace div a img{
            width: 150px;
            height: 150px;
        }


        .workplace div a:hover{
            text-decoration: none;
            color: #ffa900;
        }