@charset "UTF-8";

/*왼 네비*/
#wform {
      margin: 45px 140px;
}

.drop select {
      padding: 7px;
      margin-bottom: 20px;
      border-radius: 5px;
}

.title {
	  margin-bottom: 20px;
}

.btn {
	  margin-top: 20px;
}

.btn:hover{
	  background-color: white;
      font-weight: bold;
} 