<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yju.mapper.CoworkerMapper">


	<select resultType="com.yju.domain.CoworkerVO" id="getList" >
		select * from (select rownum as rn, b.*,c.mem_nickname from find_coworker b,member c where b.mem_id=c.mem_id and board_type=#{board_type} order by seq desc) a 
		where a.rn between (#{pageNum}-1)*#{amount}+1 and #{pageNum}*#{amount}
	</select>
</mapper>