<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yju.mapper.StudioMapper">
	<insert id="createWorkplace" parameterType="com.yju.domain.WorkplaceDTO">
		<selectKey order="BEFORE" keyProperty="workplace_id" resultType="String">
			select workplace_date('now') from dual
		</selectKey>

		insert into workplace(workplace_id,workplace_name, workplace_detail)
		values(#{workplace_id},#{workplace_name},#{workplace_detail})
	</insert>
	
	<insert id="addAuthor">
		insert into workplace_person(workplace_id, mem_id) values(#{workplace_id}, #{mem_id})
	</insert>

	<select id="getMembers" resultType="com.yju.domain.MemberDTO">
		<!-- select mem_id from workplace_person where workplace_id=#{workplace_id} -->
		select a.mem_id,b.mem_nickname,a.mem_role
		from workplace_person a,member b 
		where workplace_id=#{workplace_id} and a.mem_id=b.mem_id
	</select>
	
	<select resultType="com.yju.domain.WorkplaceDTO" id="getList" >

		select * from workplace where workplace_id in (select workplace_id from workplace_person where mem_id=#{mem_id})
	</select>
	
	<update id="addThumbnail">
		update workplace set workplace_thumbnail=#{workplace_thumbnail} where workplace_id=#{workplace_id}
	</update>
	<select id="getInvite" resultType="com.yju.domain.MemberDTO">
		select mem_id, mem_nickname from member a, (select
		case when mem_a=#{mem_id}
		then mem_b else mem_a end as mem
		from talkroom
		where mem_a=#{mem_id}
		or mem_b=#{mem_id}) b
		where a.mem_id=b.mem
		and mem_id not in
		(select mem_id 
		from workplace_person 
		where workplace_id=#{workplace_id})
		and mem_id not in
        (select mem_receive
        from workplace_invitation
        where workplace_id=#{workplace_id})
	</select>
	
	<insert id="sendInvite">
		insert into workplace_invitation(workplace_id,mem_send,mem_receive)
		values(#{workplace_id},#{mem_send},#{mem_receive})
	</insert>
	
	<select id="getPages" resultType="com.yju.domain.WorkplaceFileDTO">
		select file_page,workplace_id from workplace_file where workplace_id=#{workplace_id} group by file_page,workplace_id order by file_page
	</select>
	<select id="getFiles" resultType="com.yju.domain.WorkplaceFileDTO">
		select * from workplace_file where workplace_id=#{workplace_id} and file_page=#{file_page}
	</select>
	
	<insert id="uploadFile">
		insert into workplace_file values(workfile_date('now'),#{workplace_id},#{file_name},#{file_page},'')
	</insert>
	
	<select id="getInfo" resultType="com.yju.domain.FairytaleDTO">
		select * from fairytale where workplace_id=#{workplace_id}
	</select>
	
	<insert id="insertInfo" parameterType="com.yju.domain.FairytaleDTO">
		<selectKey order="BEFORE" keyProperty="fairytale_id" resultType="String">
			select fairytale_date('now') from dual
		</selectKey>
		insert into fairytale(fairytale_id,workplace_id,fairytale_name,fairytale_detail)
		values(#{fairytale_id},#{workplace_id},#{fairytale_name},#{fairytale_detail})
	</insert>
	
	<update id="updateInfo" parameterType="com.yju.domain.FairytaleDTO">
		update fairytale 
		set fairytale_name=#{fairytale_name},
			fairytale_detail=#{fairytale_detail}
		where workplace_id=#{workplace_id}
	</update>
	
	<select id="getWorkingPages" resultType="com.yju.domain.FairytaleContentDTO">
		select * from fairytale_content 
		where fairytale_id=
		(select fairytale_id 
		from fairytale 
		where workplace_id=#{workplace_id}) 
		order by fai_cont_page
	</select>
	
	<insert id="addPage" parameterType="com.yju.domain.FairytaleContentDTO">
		insert into fairytale_content 
		values(#{fai_cont_page},
		(select fairytale_id from fairytale 
		where workplace_id=#{workplace_id}),
		'd:\\workplace\\'||#{workplace_id})
	</insert>
</mapper>